@keyframes flicker {
  0% {
    opacity: 0.1;
    color: red;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    color: red;
  }
}

@keyframes rotate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
